
@{
    ViewBag.Title = "Index";
}


<div class="consultaCont">
    <h2>Contratistas</h2>
    <div class="input-group mb-3 ml-4">
        @Html.TextBox("contratistaConsulta", null, new { placeholder = "Ingrese Razon Social o RFC", @class = "form-control", aria_label = "Ingrese Razon Social o RFC", aria_describedby = "buscar" })
        <div class="input-group-append">
            <button class="btn btn-info" type="button" id="buscar">Buscar</button>
        </div>
    </div>
    @*<div class="form-row">
            @Html.TextBox("Contratista", null, new { placeholder = "Ingrese Razon Social o RFC", @class = "form-control ml-5 mb-3" })
            <input type="button" class=" btn btn-info" value="Buscar" />
        </div>*@

</div>
<div id="msform">
    <ul id="progressbar">
        <li class="active">Datos Generales</li>
        <li>Registro</li>
        <li>Representante</li>
        <li>Poder</li>
    </ul>
    <fieldset>
        <h3 class="fs-title">Datos Generales</h3>
        <div id="Generales" class="col-lg-12 row">
            <div class="form-group pl-5">
                @Html.CheckBox("IsMoral", false, new { @class = "" })
                @Html.Label("Persona Moral", new { @class = "ml-1 badge badge-light" })
            </div>
            @Html.TextBox("RazonSocial", null, new { placeholder = "RAZON SOCIAL", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("Rfc", null, new { placeholder = "RFC", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("Curp", null, new { placeholder = "CURP", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("Telefono", null, new { placeholder = "TELEFONO", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("Correo", null, new { placeholder = "CORREO", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("Calle", null, new { placeholder = "CALLE", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("NoExterior", null, new { placeholder = "NUM EXTERIOR", @class = "form-control-sm my-1 col-md-6" })
            @Html.TextBox("NoInterior", null, new { placeholder = "NUM INTERIOR", @class = "form-control-sm my-1 col-md-6" })
            @Html.TextBox("Colonia", null, new { placeholder = "COLONIA", @class = "form-control-sm my-1 col-md-9" })
            @Html.TextBox("Cp", null, new { placeholder = "CP", @class = "form-control-sm my-1 col-md-3" })

            @Html.TextBox("IdMunicipio", null, new { placeholder = "MUNICIPIO", @class = "form-control-sm my-1 col-md-12" })

            @Html.TextBox("Año", null, new { placeholder = "AÑO DE REGISTRO", @class = "form-control-sm my-1 col-md-12" })
        </div>
        <input id="DataGeneral" type="button" name="next" class="next btn btn-info mt-2" value="Next" />
    </fieldset>
    <fieldset>
        <h3 class="fs-title">Registro</h3>
        <div id="Registro" class="col-lg-12 row">
            @Html.TextBox("REGCONTRALORIAFOLIO", null, new { placeholder = "NO. DE FOLIO", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("REGCONTRALORIAINGREGSO", null, new { placeholder = "NO. DE INGRESO", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("FECHAEXPEDICION", null, new { placeholder = "F. EXPEDICION", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("FECHAVIGENCIA", null, new { placeholder = "F. VIGENCIA", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("IDESPECIALIDAD", null, new { placeholder = "ESPECIALIDAD", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("IDTIPO", null, new { placeholder = "TIPO DE REGISTRO", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("CAPITAL", null, new { placeholder = "CAP CONTABLE", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("IDINFOCAPITAL", null, new { placeholder = "INF DEL CAPITAL", @class = "form-control-sm my-1 col-md-12" })
            @Html.TextBox("FECHAINF", null, new { placeholder = "A LA FECHA", @class = "form-control-sm my-1 col-md-12" })
            <div class="form-group pt-2">
                @Html.CheckBox("IsActivo", false, new { @class = "" })
                @Html.Label("Activo", new { @class = "ml-1 badge badge-light" })
            </div>
        </div>
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" id="DataRegistro" name="next" class="next btn action-button" value="Next" />
    </fieldset>
    <fieldset>
        <h3 class="fs-title">Representante</h3>
        <div id="Representa" class="col-lg-12 row">
            @Html.TextBox("Representa", null, new { placeholder = "Contratista Que Representa", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("NombreRepresenta", null, new { placeholder = "Nombre Del Representante", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("Puesto", null, new { placeholder = "Puesto que ocupa", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("Acredita", null, new { placeholder = "Acredita con", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("IdAcredita", null, new { placeholder = "No. Acredita", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("IdentificaCon", null, new { placeholder = "Identifica con", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("IdIDentifica", null, new { placeholder = "No. Identificacion", @class = "form-control-sm my-1 col-lg-12" })

        </div>
        <input type="button" name="previous" class="previous  btn btn-warning mt-2" value="Previous" />
        <input type="submit" id="DataPoder" name="submit" class="next btn btn-info mt-2" value="Submit" />
    </fieldset>
    <fieldset>
        <h3 class="fs-title">Poder</h3>
        <div id="Representa" class="col-lg-12 row">
            @Html.TextBox("PODEREP", null, new { placeholder = "Escritura Pública No.", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("FECHA", null, new { placeholder = "Con Fecha", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("NOTARIONO", null, new { placeholder = "Notario Público No.", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("NOTARIONOMBRE", null, new { placeholder = "Nombre Notario", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("MUNICIPIO", null, new { placeholder = "En la Ciudad", @class = "form-control-sm my-1 col-lg-12" })

        </div>
        <input type="button" name="previous" class="previous  btn btn-warning mt-2" value="Previous" />
        <input type="submit" id="DataRepresenta" name="submit" class="submit btn btn-info mt-2" value="Submit" />
    </fieldset>
</div>

<script src="~/Scripts/funcionesContratistas.js"></script>