
@{
    ViewBag.Title = "Index";
}


    <div class="consultaCont">
        <h2>Contratistas</h2>
        <div>Consultar Datos</div>
        @Html.TextBox("user", null, new { placeholder = "Buscar", @class = "form-control ml-5 mb-3" })
    </div>
<div id="msform">
    <ul id="progressbar">
        <li class="active">Datos Generales</li>
        <li>Representante</li>
        <li>Registro</li>
    </ul>
    <fieldset>
        <h3 class="fs-title">Datos Generales</h3>
        <h3 class="fs-subtitle">Primer Paso</h3>
        <div class="col-lg-12 row">
            @Html.TextBox("RazonSocial", null, new { placeholder = "Razon Social", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("Rfc", null, new { placeholder = "RFC", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("Curp", null, new { placeholder = "CURP", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("Telefono", null, new { placeholder = "TELEFONO", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("Correo", null, new { placeholder = "Correo", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("Calle", null, new { placeholder = "CALLE", @class = "form-control-sm my-1 col-lg-12" })
            @Html.TextBox("NoExterior", null, new { placeholder = "NUM EXTERIOR", @class = "form-control-sm my-1 col-lg-6" })
            @Html.TextBox("NoInterior", null, new { placeholder = "NUM INTERIOR", @class = "form-control-sm my-1 col-lg-6" })
            @Html.TextBox("Colonia", null, new { placeholder = "COLONIA", @class = "form-control-sm my-1 col-lg-9" })
            @Html.TextBox("Cp", null, new { placeholder = "CP", @class = "form-control-sm my-1 col-lg-3" })

            @Html.TextBox("IdMunicipio", null, new { placeholder = "Municipio", @class = "form-control-sm my-1 col-lg-12" })

            @Html.TextBox("Año", null, new { placeholder = "AÑO", @class = "form-control-sm my-1 col-lg-12" })
        </div>
        <input type="button" name="next" class=" next btn btn-info mt-2" value="Next" />
    </fieldset>
    <fieldset>
        <h3 class="fs-title">Representante</h3>
        <h3 class="fs-subtitle">Segundo Paso</h3>
        @Html.TextBox("NoInterior", null, new { placeholder = "Contratista Representa", @class = "form-control-sm my-1 col-lg-12" })
        @Html.TextBox("Rfc", null, new { placeholder = "Nombre Representante", @class = "form-control-sm my-1 col-lg-12" })
        @Html.TextBox("RazonSocial", null, new { placeholder = "Puesto que ocupa", @class = "form-control-sm my-1 col-lg-12" })
        @Html.TextBox("Telefono", null, new { placeholder = "Acredita con", @class = "form-control-sm my-1 col-lg-12" })
        @Html.TextBox("Fax", null, new { placeholder = "No. Acredita", @class = "form-control-sm my-1 col-lg-12" })
        @Html.TextBox("Calle", null, new { placeholder = "Identifica con", @class = "form-control-sm my-1 col-lg-12" })
        @Html.TextBox("NoExterior", null, new { placeholder = "No. Identificacion", @class = "form-control-sm my-1 col-lg-12" })


        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="next action-button" value="Submit" />
    </fieldset>
    <fieldset>
        <h3 class="fs-title">Registro</h3>
        <h3 class="fs-subtitle">Paso Final</h3>
        <input type="button" name="previous" class="previous action-button" value="Previous" />
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
</div>

<script>

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')',
                    'position': 'absolute'
                });
                next_fs.css({ 'left': left, 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1 - now) * 50) + "%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({ 'left': left });
                previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
            },
            duration: 800,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function () {
        return false;
    })

</script>