@using PagedList.Mvc

@model PagedList.IPagedList<ConcursosContratos.Models.OficiosAutCLS>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaAut = (List<SelectListItem>)ViewBag.listaAut;
    List<SelectListItem> listaProg = (List<SelectListItem>)ViewBag.listaProg;


}

<h2>Oficio Autorizacion</h2>


<div class="list-group list-group-horizontal my-3">
    <div class="list-group-item invisible">
        <div class="container form-group">

            @Html.TextBox("OficioAut", null, new { placeholder = "No. de Oficio", @class = "form-control my-3 " })
            @Html.Editor("FecAutorizacion", new { htmlAttributes = new { placeholder = "Fecha del Oficio", @class = "form-control" } })
            @Html.Editor("FecRecibido", new { htmlAttributes = new { placeholder = "Fecha de Recibido", @class = "form-control my-3" } })

            @Html.TextBox("NumAsignacion", null, new { placeholder = "No. de Asignación", @class = "form-control my-3 " })

            @Html.TextBox("NumObra", null, new { placeholder = "No. de Obra", @class = "form-control my-3 " })

            @Html.TextBox("DescObra", null, new { placeholder = "Descripcion de Obra", @class = "form-control my-3 " })


            @Html.Hidden("idmunicipio")
            @Html.TextBox("municipio", null, new { placeholder = "Municipio", @class = "form-control my-3 ", id = "municipio" })


            @Html.DropDownList("IdPrograma", listaProg, new { @class = "form-control form-control-sm my-3 " })
            @Html.ValidationMessage("Progamado", new { @class = "text-danger" })

            @Html.DropDownList("IdAutoriza", listaAut, new { @class = "form-control form-control-sm my-3 " })
            @Html.ValidationMessage("Autorizado", new { @class = "text-danger" })
        </div>

        <button type="button" class="btn btn-outline-primary btn-sm btn-block">Fuente financiamento>>>></button>
    </div>
    <div class="list-group-item ">
        <button type="button" class="btn btn-outline-primary">Agregar</button>
        <table class="invisible">
            <thead>
                <tr>
                    <th>Fuente Financiamento</th>
                    <th>Origen</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script>
    //var entidad = $("#Entidades");
    //var regiones = $("#Regiones");
    var mun = $("#municipio");
    //    mun.autocomplete({
    //    source: function (request, response) {
    //        $.get("/OficioAut/GetMunicipioList", { municipio: mun.val() }, function (data) {
    //            response($.map(data, function (item) {

    //                return { label: item.MUNICIPIO1, value: item.MUNICIPIO1, id: item.IDMUNICIPIO };

    //            })
    //            )
    //        })
    //        }
    //})

    $(function () {

        $("#FecAutorizacion").datepicker({
            dateFormat: "dd/mm/yy",
            showAnim: "fold"
        });
        $("#FecRecibido").datepicker({
            dateFormat: "dd/mm/yy",
            showAnim: "fold"
        });
    });
    $("#FecRecibido").change(function () {
        var fec1 = $("#FecAutorizacion");
        var fec2 = $("#FecRecibido");

        const Toast = Swal.mixin({
            toast: true,
            position: 'center',
            showConfirmButton: false
        })
        console.log(fec1.val(), fec2.val())
        if (fec1.val() > fec2.val()) {
            Toast.fire({
                icon: 'error',
                title: 'No puede ser menor a la Fecha del Oficio!!'
            })
        }
    })
    mun.autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/OficioAut/GetMunicipioList",
                dataType: "json",
                type: "POST",
                data: { municipio: mun.val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.MUNICIPIO1, value: item.MUNICIPIO1, id: item.IDMUNICIPIO };
                    }))
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText)
                }
            });
        },
        select: function (e, i) {

                $("#idmunicipio").val(i.item.id);

        }
    });
    mun.change(function () {

        if ($("#idmunicipio").val() < 1) {
            Swal.fire({
                title: 'No existe',
                text: '¿Desea agregar el municipio: ' + mun.val() + ' ?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '@Html.ActionLink("Si, ir a agregarlo!", "Index", "Municipio", new { area = "" }, new { @class = " text-white mr-2" }) '})

        } else {
            console.log("existe")
        }
        $("#idmunicipio").val("");


    })

    //$(document).ready(function () {

    //    entidad.change(function () {
    //        regiones.empty();

    //        if (entidad.val() >= 1) {
    //            $.get("/OficioAut/GetRegionList", { EntidadId: entidad.val() }, function (data) {
    //                regiones.append("<option value=0><--Seleccionar--></option>")
    //                $.each(data, function (index, row) {
    //                    regiones.append("<option value='" + row.IDREGION + "'>" + row.REGION1 + "</option>")
    //                });
    //                regiones.removeClass("invisible");
    //            });
    //        } else {
    //            regiones.addClass("invisible");
    //            regiones.innerHTML = "<--Seleccionar-->";
    //        }
    //    });
    //});
    //regiones.change(function () {
    //    if (regiones.val() >= 1) {
    //        mun.removeClass("invisible");
    //    } else {
    //        mun.addClass("invisible");
    //        mun.innerHTML = "";
    //    }
    //});
    //mun.on("keyup", function () {
    //    if (mun.length != 0) {
    //        $.get("/OficioAut/GetMunicipioList", { RegionID: regiones.val(), municipio: mun.val() }, function (data) {
    //            $.each(data, function (index, row) {
    //                console.log(row.IDMUNICIPIO + "" + row.MUNICIPIO1)

    //            });
    //        });
    //    }
    //});
        </script>
