@using PagedList.Mvc

@model PagedList.IPagedList<ConcursosContratos.Models.OficiosAutCLS>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaAut = (List<SelectListItem>)ViewBag.listaAut;
    List<SelectListItem> listaProg = (List<SelectListItem>)ViewBag.listaProg;
    List<SelectListItem> listaFuenteFin = (List<SelectListItem>)ViewBag.listaFuenteFin;
    List <ConcursosContratos.Models.MontoFinCLS > ListadoMonto = ViewBag.ListadoMonto;
}

<h2>Oficio Autorizacion</h2>
<span class="btn btn-primary" onclick="VerCM()">Carga Masiva</span>

<div class="list-group list-group-horizontal my-3  col-lg-12 ">
    <div class="list-group-item border-0  col-lg-2 ">

        @Html.TextBox("OficioAut", null, new { placeholder = "No. de Oficio", @class = "form-control-sm my-1 col-lg-12" })
        @Html.Editor("FecAutorizacion", new { htmlAttributes = new { placeholder = "Fecha del Oficio", @class = "form-control-sm my-1 col-lg-12", @type="date" } })
        @Html.Editor("FecRecibido", new { htmlAttributes = new { placeholder = "Fecha de Recibido", @class = "form-control-sm my-1 col-lg-12", @type="date" } })

        @Html.TextBox("NumAsignacion", null, new { placeholder = "No. de Asignación", @class = "form-control-sm my-1 col-lg-12" })

        @Html.TextBox("NumObra", null, new { placeholder = "No. de Obra", @class = "form-control-sm my-1 col-lg-12" })

        @Html.TextArea("DescObra", null, new { placeholder = "Descripcion de Obra", @class = "form-control-sm my-1 col-lg-12" })

        @Html.TextBox("MontoAutorizado", null, new { placeholder = "Monto", @class = "form-control-sm my-1 col-lg-12", @type="number"})
        @Html.Hidden("idmunicipio")
        @Html.TextBox("municipio", null, new { placeholder = "Municipio", @class = "form-control-sm my-1 col-lg-12", id = "municipio" })


        @Html.DropDownList("IdPrograma", listaProg, new { @class = "form-control form-control-sm my-1 col-lg-12" })
        @Html.ValidationMessage("Progamado", new { @class = "text-danger" })

        @Html.DropDownList("IdAutoriza", listaAut, new { @class = "form-control form-control-sm my-1 col-lg-12" })
        @Html.ValidationMessage("Autorizado", new { @class = "text-danger" })


        <button type="button" class="btn btn-outline-primary  btn-block btn-sm" onclick="GuardarOficio()">Fuente financiamento>>>></button>
    </div>
    <div class="list-group-item border-0  col-lg-4 invisible">
        @Html.TextBox("montoAut",null,new { @class= "form-control-sm border-0 my-1 ", @readonly="readonly"})
        @Html.Hidden("idOficio")
        @Html.Hidden("idOrigen")
        <div class="form-row">
            @Html.DropDownList("IdFuenteFin", listaFuenteFin, new { @class = " form-control-sm my-1  col-lg-5" })
            @Html.TextBox("Origen", null, new { placeholder = "Origen", @class = "form-control-sm my-1 ml-2  col-lg-2", @readonly = "readonly" })

            @Html.TextBox("monto", null, new { placeholder = "Monto", @class = "form-control-sm my-1 ml-2 col-lg-3", @type = "number" })
            <button type="button" onclick="GuardarMonto()" class="btn btn-sm btn-success ml-2"><i class="fas fa-plus"></i></button>
        </div>
        <div class="invisible">
            <table class="table table-sm table-dark my-2 rounded">
                <thead>
                    <tr>
                        <th>Fuente </th>
                        <th>Origen</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody id="montos">
                </tbody>
            </table>
            @Html.Hidden("totalAcum")
        </div>
    </div>
    <div class="list-group-item border-0 col-lg-6 invisible">

        @using (Ajax.BeginForm("CargaMasivaUp", "OficioAut", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "divCarga",
            InsertionMode = InsertionMode.Replace
        }, new
        {
            @id = "frmCargaMasiva",
            enctype = "multipart/form-data"
        }))
        {

            <div id="divCarga">
                @Html.Partial("_CargaMasiva", Model)
            </div>
        }

        @using (Ajax.BeginForm("CargaMasivaMup", "OficioAut", new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "divCargaMonto",
            InsertionMode = InsertionMode.Replace
        }, new
        {
            @id = "frmCargaMasivaMonto",
            enctype = "multipart/form-data"
        }))
        {

            <div id="divCargaMonto">
                @Html.Partial("_CargaMasivaMonto", Model)
            </div>
        }


    </div>
</div>

<script src="~/Scripts/funcionesOficioAut.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>

