
@{
    ViewBag.Title = "Index";
}

<div class="container mt-5 ">
    
@* poner en contrato   <button  onclick="WordFill()" class="btn mt-2  ml-5 btn-outline-success" type="button">XLSX</button>*@
    <div class="row bg-dark rounded pb-2">
        <div class="col">
            @Html.Hidden("idLicitacion")
            <small id="tcHelp" class="form-text text-muted">No. Licitacion, Adjudicacion</small>
            <select class="form-control" id="tipoProcedimiento" aria-describedby="tclHelp"></select>
            <input id="noproc" type="text" class="form-control mt-4" required placeholder="No. Proceso" />

            <small id="añoHelp" class="form-text text-muted mt-4">Año</small>
            <select class="form-control" id="año" aria-describedby="añoHelp"></select>
            <small id="solicitanteHelp" class="form-text text-muted mt-4">Solicitante</small>
            <select class="form-control mb-4" id="solicitante" aria-describedby="solicintanteHelp"></select>
            <input class="form-check-input ml-2" type="checkbox" value="" id="planos">
            <label class="form-check-label ml-4  text-white" for="planos">
                Planos
            </label>
            <input class="form-check-input ml-2 " type="checkbox" value="" id="especificaciones">
            <label class="form-check-label ml-4 text-white" for="especificaciones">
                Especificaciones
            </label>
        </div>
        <div class="col ">
            <textarea type="text" class="form-control" id="notas" placeholder="Notas"></textarea>
            <small id="nObraHelp" class="form-text text-muted mt-4">Nivel de Obra</small>
            <select class="form-control" id="nObra" aria-describedby="nObraHelp"></select>
            <small id="tipoObraHelp" class="form-text text-muted mt-4">Tipo Obra</small>
            <select class="form-control" id="tipoObra" aria-describedby="tipoObraHelp"></select>
            <small id="espObraHelp" class="form-text text-muted mt-4">Esp de Obra</small>
            <select class="form-control" id="espObra" aria-describedby="espObraHelp"></select>
            @Html.Hidden("idDir")
            <small id="direccionHelp" class="form-text text-muted mt-4">Direccion</small>
            <textarea class="form-control" id="direccion" placeholder="#, Calle, Colonia, CP" aria-describedby="direccionObraHelp"></textarea>
            <div class="text-right">
                <button id="dtlicitacion" onclick="guardaLicitacion()" class="btn mt-2  ml-5 btn-outline-success" type="button">Crear</button>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
    <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Licitaciones</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contrato</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Seguimiento</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contact1-tab" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact1" aria-selected="false">Fianzas</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">@Html.Partial("_Licitaciones")</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" onclick="prueba()" aria-labelledby="profile-tab">@Html.Partial("_Contrato")</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"> @Html.Partial("_Seguimiento")</div>
        <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact1-tab">@Html.Partial("_Fianzas")</div>
    </div>

</div>
<script src="~/Scripts/funcionesLicitacion.js"></script>
<script src="~/Scripts/funcionesContrato.js"></script>



