@using PagedList.Mvc

@model PagedList.IPagedList<ConcursosContratos.Models.UsuarioCLS>

<table class="table table-bordered table-sm table-hover text-center">
    <thead class="thead-dark">
        <tr>
            <th>@Html.LabelFor(u => Model[0].usuario)</th>
            @*<td>@Html.LabelFor(u => Model[0].contra)</td>*@
            <th>@Html.LabelFor(u => Model[0].descripcion)</th>
            <th>@Html.LabelFor(u => Model[0].correo)</th>
            <th>@Html.LabelFor(u => Model[0].responsabilidad)</th>
            <th>@Html.Label("Operaciones")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        
      
            <tr>
                <td>@item.usuario</td>
                @*<td>@item.contra</td>*@
                <td>@item.descripcion</td>
                <td>@item.correo</td>
                <td>@item.responsabilidad</td>
                <td>
                    <a  class="invisible">  @item.idusuario</a>
                    <button class="btn btn-primary far fa-edit collapsed" onclick="Editar(@item.idusuario)"  type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      
                    </button>
                    <button type="button" onclick="Eliminar(@item.idusuario)" class="btn btn-danger far fa-trash-alt" data-toggle="modal" data-target="#Eliminar"></button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new
    {
        page
    }))